<div class="container" data-controller="filter-date">
  <h1 class="title-center">dream activity</h2>
  
  <%= render 'dreams/partials/date_form' %>

  <%= render 'dreams/partials/dream_stats' %>
</div>