<div class="container" data-controller="filter-date">
  <div class="top-fixed" style="width: 100%">
    <h1 class="title-center m-0">dream activity</h2>
  
    <%= render 'dreams/partials/date_form' %>
  </div>

  <%= render 'dreams/partials/dream_stats' %>
</div>