<div data-controller="filter-labels">
  <div class="top-fixed blue-bg white-glow", style="width: 100vw">
    <h1 class="title-center m-0 white-font">my dreams</h1>
  </div>
  <div class="filter-labels-form">
    <%= render 'dreams/partials/filter_form' %>
  </div>
  <div class="container" data-controller="toggle-dreams" style="padding-bottom: 100px;">
    <div data-filter-labels-target="dreamslist">
      <%= render "dreams/partials/dream_link", months: @months, years: @years, filtered_dreams: @filtered_dreams %>
    </div>
  </div>
</div>
