<div class="container">
  <div class="top-fixed blue-bg white-glow", style="width: 100vw">
    <h1 class="title-center m-0 white-font">dream labels</h1>
  </div>
  <div class="px-4 pt-5" style="margin-top: 90px">
    <% if @labels.exists? %>
      <div class="white-round-bg">
        <p class="text-center white-font add-input-btn-clicked">your labels:</p>
        <% @labels.each do |label| %>
          <div class="d-flex justify-content-between px-2 mt-2">
            <p class="labels index-labels mb-3 m-0"><%= label.title %></p>
            <div>
              <%= link_to "edit", edit_label_path(label), class: "white-font",style: "padding-right: 8px" %>
              <%= link_to "delete", label_path(label), method: :delete, class: "delete-red-link" %>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p class="px-2 mt-2 text-align-center white-font white-round-bg shadow-box-black">you have no labels yet</p>
    <% end %>

    <div class="d-flex justify-content-center mt-4">
      <%= link_to "+ add label", new_label_path, class: "white-btn white-shadow" %>
    </div>
  </div>
</div>