<div class="container" data-controller="filter-labels">
  <div class="top-fixed">
    <div class="top-title">
      <div class="col-1" style="padding: 16px 0px 16px 16px">
        <%= link_to labels_path, class: "back-btn" do %>
          <i class="fas fa-cog"></i>
        <% end %>
      </div>
      <div class="col-11">
        <h2 class="title-within">dream labels</h2>
      </div>
    </div>
    <div class="filter-labels-form">
      <%= render 'labels/partials/filter_form' %>
    </div>
  </div>

  <%= render 'labels/partials/filtered_dreams_list', locals: { filtered_dreams: @filtered_dreams } %>
</div>