<div class="container" data-controller="filter-labels">
  <div class="top-fixed" style="border-bottom: 3px solid white;">
    <div class="top-title">
      <div class="col-2 white-font" style="z-index: 9999; padding: 0px 0px 0px 24px;">
        <%= link_to labels_path, class: "back-btn" do %>
          <i class="fas fa-cog"></i>
        <% end %>
      </div>
      <div class="col-10 position-absolute" style="width: 100%">
        <h2 class="title-center m-0 white-glow">dream labels</h2>
      </div>
    </div>
    <div class="filter-labels-form">
      <%= render 'labels/partials/filter_form' %>
    </div>
  </div>
  
  <%= render 'labels/partials/filtered_dreams_list', locals: { filtered_dreams: @filtered_dreams } %>
</div>