<div class="navbar">
  <i class="fas fa-chart-line"></i>
  <i class="fas fa-home-lg-alt"></i>

  <%= link_to "+", "#", class: "" %>

  <i class="fas fa-tags"></i>
  <i class="fas fa-user"></i>
</div>
