<h1>add a dream</h1>

<div class="navbar-bt">
  <i class="fas fa-chart-line"></i>
  <i class="fas fa-home-lg-alt"></i>

  <%= link_to "+", "#", class: "add-btn" %>

  <i class="fas fa-tags"></i>
  <i class="fas fa-user"></i>
</div>
