<div data-filter-date-target="dreamstats" style="margin-top: 210px">
  <div class="white-round-bg shadow-box-black mb-3 mx-2" style="padding: 12px 20px 20px 20px">
    <h2 class="white-font h2-gray-title pb-1 mb-3 add-input-btn-clicked">dreams timeline</h2>
    <%= line_chart  @dreams.group_by_month(:dream_date).count(:dream_date), 
                    colors: ["#51C4D3"],
                    label: "# dreams",
                    empty: "no dreams found",
                    height: "180px"
    %>
  </div>

  <div class="white-round-bg shadow-box-black mb-3 mx-2" style="padding: 12px 20px 20px 20px">
    <h2 class="white-font h2-gray-title pb-1 mb-3 add-input-btn-clicked">dream categories</h2>
    <%= pie_chart @dreams_by_lable, 
                  # colors: @label_colors,
                  legend: "right",
                  label: "# dreams",
                  donut: true,
                  empty: "no dreams found",
                  height: "180px"
    %>
    <div class="d-flex justify-content-center mt-4">
      <%= link_to "+ add label", new_label_path, class: "white-btn-shadowed" %>
    </div>
  </div>

  <div style="padding-bottom: 100px">
    <div class="white-round-bg shadow-box-black mx-2" style="padding: 12px 20px 20px 20px">
      <h2 class="white-font h2-gray-title pb-1 mb-3 add-input-btn-clicked">dreams significance</h2>
      <%= column_chart  @dreams_by_significance, 
                      colors: ["rgba(249,231,17,0.5)", "#C82B1B", "#51C4D3"],
                      label: "# dreams",
                      empty: "no dreams found",
                      height: "180px"
      %>
    </div>
  </div>
</div>