<div class="container home-container">
  <% if user_signed_in? %>
    <%= link_to "log-out", destroy_user_session_path, method: :delete, class: "blue-link-btn top-abs" %>

    <h1 class="welcome-tag white-glow">good morning</h1>
    <h1 class="white-glow"><%= current_user.first_name %></h1>
  <% else %>
    <%# <h1 class="welcome-tag">welcome to</h1> %>
    <h1 class="logo">oniri</h1>
    <%= link_to "sign-up", new_user_registration_path, class: "white-link-btn bottom-ontop-abs" %>
  <% end %>
</div>
