.add-btn {
  box-shadow: 0px 0px 16px rgba(255,255,255, 0.25);
  border-radius: 50%;
  width: 55px;
  height: 55px;
  text-align: center;
  text-decoration: none;
  color: $blue;
  font-size: 44px;
  font-weight: lighter;
  line-height: 58px;
  background: white;
}

.save-btn {
  box-shadow: 0px 0px 16px rgba(255,255,255, 0.25);
  border-radius: 40px;
  text-align: center;
  text-decoration: none;
  color: $blue;
  font-size: 16px;
  line-height: 50px;
  background: white;
  padding: 2px 24px;
  border: none;
}

.login-btn {
  border-radius: 40px;
  text-align: center;
  text-decoration: none;
  color: $blue;
  font-size: 24px;
  font-weight: lighter;
  background: white;
  padding: 8px 24px;
}

.white-link-btn {
  font-size: 14px;
  color: white;
  text-decoration: none;
}

.bottom-ontop-abs {
  position: absolute;
  right: 32px;
  bottom: 32px;
  z-index: 1;
}

.blue-link-btn {
  font-size: 14px;
  color: $blue;
  text-decoration: none;
}

.top-abs {
  position: absolute;
  right: 32px;
  top: 32px;
}

.back-btn {
  font-size: 30px;
  text-decoration: none;
  color: white;
}

.add-input-btn {
  background: none;
  border: none;
  color: white;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}

.add-input-btn-clicked {
  color: white;
  text-shadow: 0px 0px 5px $blue;
  font-weight: bold;
  border-bottom: 2px solid white;
  box-shadow: 0px 5px 5px -5px $blue;
}

.big-white-link {
  font-size: 32px;
  text-align: center;
  text-shadow: 0px -8px 16px rgba(255, 255, 255, 0.6);
  text-decoration: none;
  color: white;
  padding: 0px 24px;
}

.gray-link {
  color: #A0A0A0;
  font-weight: lighter;
}

.white-btn {
  display: inline-block;
  background: white;
  border-radius: 40px;
  padding: 8px 16px;
}

.delete-red-link {
  color: $red;
  border-bottom: 0.5px solid $red;
  text-shadow: 0px 0px 2px white;
}

.white-btn-shadowed {
  color: white;
  text-shadow: 0px 0px 8px white;
}

.bottom-pos {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
}

.white-save-btn {
  color: white;
  text-shadow: 0px 0px 5px $blue;
  background: rgba(255,255,255,0.2);
  padding: 8px 50%;
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.9);
}

.back-btn-div {
  padding: 28px 0px 0px 24px;
}

.white-shadow {
  box-shadow: 0px 0px 16px white;
}

.export-btn {
  transform: translateX(-50%);
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.4);
  text-decoration: underline;
  font-size: 18px;
}

.year-btn {
  background: $blue; 
  width: 100%; 
  position: sticky;
  box-shadow: 10px 0px 0px $blue, -10px 0px 0px $blue;
}