.dreams-list {
  padding: 220px 14px 65px 14px;
}

.sig-importance {
  padding-right: 10px;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 0;
}

.dream-title {
  color: #636363;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
}

.dream-content {
  font-size: 14px;
  color: #636363;
  padding-left: 15px;
  margin-bottom: 0;
}