.date-input {
  margin-top: 23px;
  background: none !important;
  border: none;
  font-size: 22px;
  color: $blue;
  text-align: center;
  padding: 0px !important;
  cursor: pointer;
}

.form-check-input {
  position: absolute;
  background: white;
}

.bg-none-input {
  background: none;
  border: none;
  text-align: center;
  border-radius: 24px;
  font-weight: bold;
  color: #636363;

  &:focus {
    background: none;
    border: none;
    text-align: center;
    box-shadow: none; // 0px 0px 16px rgba(81, 196, 211, 10%);
  }
}

.small-font {
  font-weight: normal;
  font-size: 14px;
} 

.vh40 {
  height: 40vh;
  padding: 15px;
}

.text-align-start {
  text-align: start;

  &:focus {
    text-align: start;
  }
}

.label-input {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 40px #ffffff;
  border-radius: 40px;
  // box-shadow: 0 0 16px #51c4d3;
  // border-radius: 25px;
  // background: white;
  padding: 18px 32px;
  border: none;
  transition: ease 0.5s;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  justify-content: space-between;

  fieldset {
    height: 100px;
    overflow-y: scroll;
    margin-bottom: 0 !important;

    .form-check-input {
      position: relative;
    }
  }
}

.visuallyhidden {
  opacity: 0;
}

legend {
  display: none;
}

.dreams-input {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 40px #ffffff;
  border-radius: 40px;
  // box-shadow: 0 0 16px #51c4d3;
  // border-radius: 25px;
  // background: white;
  padding: 18px 32px;
  border: none;
  transition: ease 0.5s;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  justify-content: space-between;

  fieldset {
    height: 250px;
    overflow-y: scroll;
    margin-bottom: 0 !important;

    .form-check-input {
      position: relative;
    }
  }
}

.form-control {
  background: white;

  &:focus {
    background: none;
  }
}

textarea.form-control {
  background: none;
}

.filter-labels-form {
  margin-top: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.label-filter {
  padding-left: 25px;
  margin-left: 10px;
  border-left: 1px solid #D5D5D5;
}

.label-label {
  margin-right: 15px;
  font-size: 12px;
  color: black;
  font-weight: bold;
}

.label-center {
  text-align: center;
  width: 100%;
  font-size: 12px;
  color: black;
  font-weight: bold;
}

.drop-select {
  border: none;
  color: $blue;
  background: none;
  font-size: 12px;
  width: 100px;
}

.drop-select-gray {
  color: #636363;
  background: none;
  border: none;
  font-size: 12px;
}

.input-box {
  border: none;
  background-image: none !important;
  background: rgba(255, 255, 255, 0.4) !important;
  border-radius: 6px;
  padding: 20px 16px 8px 16px;
  font-size: 14px;

  &:focus {
    box-shadow: 0px 0px 0px 3px rgba(81, 196, 211, 0.25) !important;
  }
}

.is-valid {
  // border: none;
  // background-image: none !important;
  // background: rgba(255, 255, 255, 0.4) !important;
  // border-radius: 6px;
  // padding: 20px 16px 8px 16px;
  // font-size: 14px;

  &:focus {
    box-shadow: 0px 0px 0px 3px rgba(81, 196, 211, 0.25) !important;
  }
}

.input-div {
  position: relative;
  margin-bottom: 6px !important;

  label {
    position: absolute;
    left: 16px;
    top: 6px;
    transition: all 0.5s;
    color: gray;
    font-size: 10px;
  }

  input {
    border: none;
    background-image: none !important;
    background: rgba(255, 255, 255, 0.4) !important;
    border-radius: 6px;
    padding: 20px 16px 8px 16px;
    font-size: 14px;
  }
}

.label-group {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #51C4D3;
  margin: 0;
  padding: 10px;
  margin-top: 10px;
  text-shadow: 0px 0px 12px white;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 6px 6px 0px 0px;
}

.white-box {
  box-shadow: 0px 0px 8px white;
  border: solid 2px #ffffff !important;
}

.no-focus {
  input:focus {
  box-shadow: 0px 0px 8px white !important;
  border: solid 2px #ffffff !important;
  }
}