.date-input {
  margin-top: 20px;
  background: none !important;
  border: none;
  font-size: 22px;
  color: #51C4D3;
  text-align: center;
  padding: 0px !important;
}

.form-check-input {
  position: absolute;
}