.date-input {
  margin-top: 23px;
  background: none !important;
  border: none;
  font-size: 22px;
  color: #51C4D3;
  text-align: center;
  padding: 0px !important;
}

.form-check-input {
  position: absolute;
}

.bg-none-input {
  background: none;
  border: none;
  text-align: center;
  border-radius: 24px;
  font-weight: bold;
  color: #636363;

  &:focus {
    background: none;
    border: none;
    text-align: center;
    box-shadow: none; // 0px 0px 16px rgba(81, 196, 211, 10%);
  }
}

.small-font {
  font-weight: normal;
  font-size: 14px;
} 

.vh40 {
  height: 40vh;
  padding: 15px;
}

.text-align-start {
  text-align: start;

  &:focus {
    text-align: start;
  }
}

.label-input {
  box-shadow: 0 0 16px #51c4d3;
  border-radius: 25px;
  padding: 18px 32px;
  background: white;
  border: none;
  transition: ease 0.5s;
  display: block;
  margin-top: 12px;
}

.visuallyhidden {
  opacity: 0;
}

legend {
  display: none;
}