.labels {
  background: white;
  color: $blue;
  border-radius: 10px;
  padding: 3px 6px;
  font-size: 12px;
  margin-right: 8px;
}

.labels-position {
  flex-wrap: wrap;
}

.index-labels {
  width: 140px;
  text-align: center;
}

.plus-labels {
  margin-bottom: 0;
  color: #126E82;
  margin-right: 8px;
  border-radius: 50%;
  border: 1px solid #126E82;
  font-size: 11px;
  width: 24px;
  text-align: center;
  padding: 2px 0px;
}