.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-bt {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  bottom: 0px;
  width: 100vw;
  padding: 20px 55px;
  position: fixed;
  background: linear-gradient(0, #51C4D3, transparent);
  
  i {
    color: white;
    font-size: 30px;
  }
}