a {
  text-decoration: none;
}

.box-white-shadow {
  box-shadow: 0px 0px 16px rgba(255,255,255,0.7);
}

.bottom-fixed-div {
  position: absolute;
  bottom: 15vh;
  width: 100vw;
}

.bottom-lower-fixed-div {
  position: absolute;
  bottom: 80px;
  display: flex;
  justify-content: center;
  width: 100vw;
}

.logo {
  color: white;
  text-shadow: 0px 0px 16px $blue;
  font-size: 60px;
}

.white-glow {
  text-shadow: 0px -8px 16px rgba(200, 255, 255, 0.60);
}

.home-container {
  justify-content: center;
  display: flex;
  height: 85vh;
  align-items: center;
}

.gray-color {
  color: #636363;
  font-weight: bold;
}

.text-align-center {
  text-align: center;
}

.text-align-justify {
  text-align: justify;
}

.small-font {
  font-size: 12px;
  color: gray;
}

.scrolled-text {
  word-break: break-all;
  overflow-y: scroll;
  height: 40vh;
  font-size: 14px;
  white-space: pre-wrap;
  padding: 15px;
}

.pad-15px {
  padding: 0px 15px;
}

.title {
  margin-top: 18px;
  background: none !important;
  border: none;
  font-size: 32px;
  color: #51C4D3;
  text-align: center;
  padding: 0px !important;
  position: absolute;
  left: 25%;
}

.title-within {
  margin-top: 18px;
  background: none !important;
  border: none;
  font-size: 32px;
  color: #51C4D3;
  text-align: center;
  padding: 0px !important;
  margin: 0;
}

.top-title {
  display: flex;
  align-items: center;
  top: 0px;
  width: 100vw;
  position: fixed;
  background: linear-gradient(180deg, white 0.52%, white 54.69%);
  box-shadow: 0px 10px 30px white;
  left: 0;
}
