.grad-blue-bg {
  background: linear-gradient(180deg, white 21.04%, $blue 91.67%);
  background-repeat: no-repeat;
}

a {
  text-decoration: none;

  &:hover {
    color: white;
  }
}

.box-white-shadow {
  box-shadow: 0px 0px 16px rgba(255,255,255,0.7);
}

.bottom-fixed-div {
  position: absolute;
  bottom: 15vh;
  width: 100vw;
}

.bottom-lower-fixed-div {
  position: absolute;
  bottom: 80px;
  display: flex;
  justify-content: center;
  width: 100vw;
}

.logo {
  color: white;
  text-shadow: 0px 0px 16px $blue;
  font-size: 60px;
}

.white-glow {
  text-shadow: 0px -8px 16px rgba(200, 255, 255, 0.60);
}

.home-container {
  justify-content: center;
  display: flex;
  height: 85vh;
  align-items: center;
}

.gray-color {
  color: #636363;
  font-weight: bold;
}

.text-align-center {
  text-align: center;
}

.text-align-justify {
  text-align: justify;
}

.small-font {
  font-size: 12px;
  color: gray;
}

.scrolled-text {
  word-break: break-all;
  overflow-y: scroll;
  height: 40vh;
  font-size: 14px;
  white-space: pre-wrap;
  padding: 15px;
}

.pad-15px {
  padding: 0px 15px;
}

.title {
  margin-top: 18px;
  background: none !important;
  border: none;
  font-size: 32px;
  color: #51C4D3;
  text-align: center;
  padding: 0px !important;
  position: absolute;
  left: 25%;
}

.title-within {
  margin-top: 18px;
  background: none !important;
  border: none;
  font-size: 32px;
  color: #51C4D3;
  text-align: center;
  padding: 0px !important;
  margin: 0;
}

.top-title {
  display: flex;
  align-items: center;
  top: 0px;
  width: 100vw;
  position: fixed;
  background: linear-gradient(180deg, white 0.52%, white 54.69%);
  box-shadow: 0px 10px 30px white;
  left: 0;
  padding-top: 35px;
}

.top-fixed {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  padding: 35px 0px 10px 0px;
  box-shadow: 0px 0px 8px #51c4d3;
}

.title-center {
  font-size: 32px;
  color: #51C4D3;
  text-align: center;
  margin-top: 18px;
}

.sm-blue {
  color: #51C4D3;
  font-size: 12px;
  font-weight: bold;
  border: none;
  background: none;
}

.width-35px {
  width: 35px;
}

.h2-gray-title {
  color: #636363;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.blue {
  color: $blue;
}

.small {
  font-size: 14px;
  font-weight: bold;
}

.blue-border-top {
  padding-top: 10px;
  margin-top: 10px;
  border: 1px solid $blue;
  border-bottom: none;
  border-right: none;
  border-left: none;
  
  &:first-of-type {
    border: none;
  }
}

.border-gray-thin {
  border-bottom: 1px solid #e9ecef;
}

.hover-bottom {
  animation: MoveUpDownBottom 2s linear infinite;
  position: absolute;
}

.deblur {
  animation: Deblur 2s linear;
  position: absolute;
}

@keyframes Deblur {
  from {
    filter: blur(30px);
  }

  to {
    filter: blur(0px);
  }
}

@keyframes MoveUpDownBottom {
  0%, 100% {
    bottom: 9.4%;
  }
  50% {
    bottom: 8.6%;
  }
}

.blue-shadow {
  box-shadow: 0px 0px 16px #51c4d3;
}

.profile-separator {
  background: rgba(255,255,255,0.8);
  border-radius: 6px 6px 0px 0px;
  padding: 5px 14px 5px 14px;
  font-size: 14px;
  font-weight: bold;
  color: gray;
  margin: 0;
}

.link-profiles {
  font-size: 14px;
  // color: #132C33;
}

.profile-tabs {
  background: rgba(255,255,255,0.25);
  border-radius: 0px 0px 6px 6px;
}

.vertical-center {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.no-box-shadow {
  box-shadow: none;
}

.blue-bg {
  background: $blue;
}

.white-font {
  color: white;
}

.pad-16px {
  padding: 16px 16px 8px 16px;
}

.white-round-bg {
  background: rgba(255,255,255,0.3);
  border-radius: 24px;
  padding: 8px 16px;
}

.white-underline {   
  color: white;
  border-bottom: 1px solid white;
  display: inline-block;
}