.box-white-shadow {
  box-shadow: 0px 0px 16px rgba(255,255,255,0.7);
}

.big-white-link {
  font-size: 32px;
  text-align: center;
  text-shadow: 0px -8px 16px rgba(255, 255, 255, 0.6);
  text-decoration: none;
  color: white;
  padding: 0px 24px;
}

.bottom-fixed-div {
  position: absolute;
  bottom: 15vh;
  width: 100vw;
}

.bottom-lower-fixed-div {
  position: absolute;
  bottom: 80px;
  display: flex;
  justify-content: center;
  width: 100vw;
}

.logo {
  color: white;
  text-shadow: 0px 0px 16px $blue;
  font-size: 60px;
}

.white-glow {
  text-shadow: 0px -8px 16px rgba(200, 255, 255, 0.60);
}

.home-container {
  justify-content: center;
  display: flex;
  height: 85vh;
  align-items: center;
}

.gray-color {
  color: #636363;
}

.text-align-center {
  text-align: center;
}

.text-align-justify {
  text-align: justify;
}

.small-font {
  font-size: 12px;
}

.labels {
  background: $blue;
  color: white;
  border-radius: 10px;
  padding: 3px 6px;
  font-size: 12px;
  margin-right: 8px;
}

.labels-position {
  position: absolute;
  bottom: 30vh;
}